<!DOCTYPE html>
<html lang="en">
	<table> {border: 1px solid silver;}
		td:hover {background-color: yellow; color: black;}
		tr, th {background-color: black; color: cornsilk;}
		tr, td {background-color: darkgreen; color: white;}
	<body>
		<h1>Back to the Future table</h1>
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Notes</th>
			</tr>
			<tr>
				<td>Marty McFly</td>
				<td>8675309</td>
				<td>none</td>
				<td>Main Character</td>
			</tr>
			<tr>
				<td>Doc Brown</td>
				<td>8000951985</td>
				<td>none</td>
				<td>Main Character</td>
			</tr>
		</table>
	</body>
	<link rel="stylesheet" type="text/css" href="HTML_Table.html">
</html>